<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <title>BLOG APEX</title>
  </head>
<body>
    <header>
  <div class="bg-add">
  <nav class="p-3 bg-red" >
    <a href="/home" alt="home" class="navimg"><img src="images/PhotoRoom-20231105_225652.png" width="150px" alt="APEX"></a>
    <a href="www.google.com" alt="home" class="navtiles"> Home</a>
    <a href="www.google.com" alt="about" class="navtiles"> About</a>
    <a href="www.google.com" alt="contact" class="navtiles1"> Language ></a>
    
    <div  class="rightbutton justify-end" >
    <button>
      <a class="nav-link signin" href="/signin">SIGN IN</a>
    </button>
    <button>
      <a class="nav-link signin" href="/post">POST</a>
    </button>
    </div>
    </nav>
  </div>
  
</div>
</header>
<main class="container">