
<%- include("partials/header"); -%>


<h1><%= posts[postIndex].title %></h1>
<textarea class="form-control" name="postContent" cols="50" rows="6"><%= posts[postIndex].content %></textarea>


<%- include("partials/footer"); -%>
